registry=https://registry.npm.taobao.org
@easyops:registry=http://r.pnpm.easyops.cn
@bricks:registry=http://r.pnpm.easyops.cn
@dll:registry=http://r.pnpm.easyops.cn
@libs:registry=http://r.pnpm.easyops.cn
@micro-apps:registry=http://r.pnpm.easyops.cn
@sdk:registry=http://r.pnpm.easyops.cn
@templates:registry=http://r.pnpm.easyops.cn
tag-version-prefix=
